<app-nav-bar></app-nav-bar>
<div class="container">
  <mat-toolbar>
    <h1>Add Car</h1>

  </mat-toolbar>

  <mat-card class="example-card">
    <form [formGroup]="form" (ngSubmit)="add()" >
          <mat-card-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Brand</mat-label>
          <input matInput placeholder="Placeholder" type="text" formControlName="brand">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
            <p>
        <mat-form-field appearance="standard">
          <mat-label>Model</mat-label>
          <input matInput placeholder="Placeholder" type="text" formControlName="model">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Year</mat-label>
          <input matInput placeholder="Placeholder" type="number" formControlName="year">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Placeholder" type="text" formControlName="color">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions  >
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary" mat-button>Save</button>
      <button  mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
    </form>
  </mat-card>

</div>
